html,body {
    background-color: green;
    margin: 0;
    padding: 0;
}
.main-content{
    max-width: 30%;
    margin: auto;
}
.box{
    background-color: white;
    padding: 30px;
    margin: 10px;
    
}
.img{
    width: 100%;
}
.button{
    color: black;
    background-color: lightgray;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}